@import "../../theme/theme.scss";

.playing-groups-container {
  .create-new-group-btn {
    position: absolute;
    width: 72px;
    height: 72px;
    bottom: 24px;
    right: 24px;
    background: $successColor;
    border-radius: 50%;
    border: 0;
  }
}
