.playing-groups-container {
  .create-new-group-btn {
    position: absolute;
    width: 72px;
    height: 72px;
    bottom: 24px;
    right: 24px;
    background: #01cc88;
    border-radius: 50%;
    border: 0;
  }
}
