html,
body {
  height: 100%;
  background-color: #0e164d;
  max-width: 800px;
  margin: auto;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  height: 100%;

  .page-title {
    color: #fff;
    align-self: flex-start;
    margin: 16px 16px 48px;
  }
}
