@import "../../theme/theme.scss";

.custom-button {
  color: #fff;
  background-color: $successColor;
  width: 120px;
  height: 60px;
  border: 0;
  border-radius: 10px;
  padding: 16px, 40px, 16px, 40px;

  &.secondary {
    background-color: $errorColor;
  }

  &.sm {
    width: 110px;
    height: 48px;
  }

  &.lg {
    width: 218px;
  }
}
